<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - VueMaterial</title>
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">


    <!--Includes-->
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/vuematerial/css/css.css" />
    </environment>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/vuematerial/css/vue-material.css" />
    </environment>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/vuematerial/css/default.css" />
    </environment>






    <!--Excludes-->
    <environment exclude="Development">
        <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css"
              asp-fallback-href="~/lib/vuematerial/css/vue-material.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous" />
    </environment>





    <link rel="stylesheet" href="~/css/site.css" />



</head>
<body>
    <header></header>

    <div id="app">
        <div class="page-container md-layout-column">
            <md-toolbar class="md-primary">
                <md-button class="md-icon-button" @@click="showNavigation = true">
                    <md-icon>menu</md-icon>
                </md-button>
                <span class="md-title">@ViewData["Title"]</span>
                <md-tabs class="md-primary">                                 <md-tab id="tab-home" md-label="Home"></md-tab>                                 <md-tab id="tab-pages" md-label="Pages"></md-tab>                                 <md-tab id="tab-posts" md-label="Posts"></md-tab>                                 <md-tab id="tab-favorites" md-label="Favorites"></md-tab>                             </md-tabs>
                <div class="md-toolbar-section-end">

                    <md-button class="md-icon-button" @@click="showSidepanel = true">
                        <md-icon>more_vert</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-drawer :md-active.sync="showNavigation">
                <md-toolbar class="md-transparent" md-elevation="0">
                    <span class="md-title">My App name</span>
                </md-toolbar>

                <md-list>
                    <md-list-item>
                        <md-icon>move_to_inbox</md-icon>
                        <span class="md-list-item-text">Inbox</span>
                    </md-list-item>

                    <md-list-item>
                        <md-icon>send</md-icon>
                        <span class="md-list-item-text">Sent Mail</span>
                    </md-list-item>

                    <md-list-item>
                        <md-icon>delete</md-icon>
                        <span class="md-list-item-text">Trash</span>
                    </md-list-item>

                    <md-list-item>
                        <md-icon>error</md-icon>
                        <span class="md-list-item-text">Spam</span>
                    </md-list-item>
                    <md-list-item md-expand :md-expanded.sync="expandNews">                             <md-icon>whatshot</md-icon>                             <span class="md-list-item-text">News</span>                          <!--Expandable List-->                             <md-list slot="md-expand">                                 <md-list-item class="md-inset">World</md-list-item>                                 <md-list-item class="md-inset">Europe</md-list-item>                                 <md-list-item class="md-inset">South America</md-list-item>                             </md-list>                         </md-list-item>
                </md-list>
            </md-drawer>

            <md-drawer class="md-right" :md-active.sync="showSidepanel">
                <md-toolbar class="md-transparent" md-elevation="0">
                    <span class="md-title">Account</span>

                </md-toolbar>

                <md-list>
                    <md-list-item>
                        <span class="md-list-item-text">Abbey Christansen</span>

                        <md-button class="md-icon-button md-list-action">
                            <md-icon class="md-primary">chat_bubble</md-icon>
                        </md-button>
                    </md-list-item>

                    <md-list-item>
                        <span class="md-list-item-text">Alex Nelson</span>

                        <md-button class="md-icon-button md-list-action">
                            <md-icon class="md-primary">chat_bubble</md-icon>
                        </md-button>
                    </md-list-item>

                    <md-list-item>
                        <span class="md-list-item-text">Mary Johnson</span>

                        <md-button class="md-icon-button md-list-action">
                            <md-icon>chat_bubble</md-icon>
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-drawer>

            <md-content>
                <h1>you could put some content here</h1>                     <partial name="_LoginPartial" />                                              @RenderBody()                                               <partial name="_CookieConsentPartial" />
            </md-content>
        </div>
    </div>





    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - VueMaterial - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

    <!--JS Includes-->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <environment include="Development">
        <script src="~/lib/vuematerial/js/vue.js"></script>
    </environment>
    <environment include="Development">
        <script src="~/lib/vuematerial/js/vue-material.js"></script>
    </environment>



    <!--JS Excludes-->
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue"
                asp-fallback-src="~/lib/vuematerial/js/vue.min.js"
                crossorigin="anonymous"></script>

        <script src="https://unpkg.com/vue-material@beta"
                asp-fallback-src="~/lib/vuematerial/js/vue-material.min.js"
                crossorigin="anonymous"></script>
    </environment>




    @*<script src='https://unpkg.com/vue'></script>
        <script src='https://unpkg.com/vue-material@beta'></script>*@



    <script src="~/js/site.js" asp-append-version="true"></script>



    @RenderSection("Scripts", required: false)

</body>
</html>
